<html>
	<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title> Download files</title>
	</head>
 <body class="body container-fluid"; style="font-family:TimesNewRoman">
 <div style="background-color:lightblue;color:white;height:100px;width:100%;text-align:center"> 
		<h1>Download output files</h1>
	</div>
     <div class="container" align="center" style="margin-top:100px">
      <a href="/return-files" target="blank"><button class='btn btn-primary'>Download</button></a>
     </div>
  </body>
</html>