<!DOCTYPE html>
<html lang = "en">
	<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title> Rendering Project</title>
	</head>
	<body class="container-fluid"; style="font-family:TimesNewRoman">
	<div style="background-color:lightblue;color:white;height:100px;width:100%;text-align:center"> 
		<h1>Render 2D image to 3D model</h1>
	</div>

	<div class="row text" style="margin-top:50px">
		<div class="col-md-11">
			<h2>Steps for 2D to 3D render:</h2>
			<br>
			<h4>
			<ol>
			<li>Choose a 2D image preferably front facing with decent lighting and background.
				(<a href="https://www.remove.bg/">Go to this link for removing background of image for better results</a>)</li>
				<li>Upload the image file to the interface(high quality png images preferable)</li>
				<li>Download result object and jpeg. (.obj file can be visualised in meshlabs)</li>
				</ol></h4>
		
		</div>
		<div class ="offset-md-3" style="margin-top:20px">
		 <form action = "" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
		
		</div>
	</div>
	</body>

</html>